In [72]:
import xml.etree.ElementTree as ET
import numpy as np
import pandas as pd
import os

In [113]:
def extract_data(fname,directory):
    tree = ET.parse(fname)
    root = tree.getroot()
    
    file = []
    org = []
    
    for organization in root.iter('org'):
        string = str(os.getcwd())[49:] + str(fname)
        file.append(string)
        org.append(organization.text)

    if org:
        df = pd.DataFrame(
        {'File': file,
         'Organization': org
        })    
    
        return(df)

In [110]:
extract_data('/Users/hannahburak/Downloads/NY Times Corpus/data/1988/03/06/0124832.xml','/Users/hannahburak/Downloads/NY Times Corpus/data/1988/03/06/')

/2006/01/02/Users/hannahburak/Downloads/NY Times Corpus/data/1988/03/06/0124832.xml

,File,Organization
0,/2006/01/02/Users/hannahburak/Downloads/NY Tim...,ROCKLAND COMMUNITY COLLEGE (NY)

In [103]:
extract_data('/Users/hannahburak/Downloads/NY Times Corpus/data/1988/03/06/0124842.xml','/Users/hannahburak/Downloads/NY Times Corpus/data/1988/03/06/')

In [116]:
year_start = 2005 
year_end = 2006 #inclusive

months = ['01','02','03','04','05','06','07','08','09','10','11','12']

out = pd.DataFrame(columns = ['File','Organization'])

for year in range(year_start,year_end +1):
    for month in months:
        directory = os.chdir('/Users/hannahburak/Downloads/NY Times Corpus/data/'+ str(year) + '/' + month)
        num = len(list(os.listdir(directory)))
        
        for i in range(1,num+1):
            if i < 10:
                i = str(0) + str(i)
            directory = os.chdir('/Users/hannahburak/Downloads/NY Times Corpus/data/'+ str(year) + '/' + month  + '/' + str(i))
            files = os.listdir(directory)
            
            for fname in files:
                line = pd.DataFrame(extract_data(fname,directory))
                
                out = out.append(line)

In [117]:
print(out.head())
print(out.shape)

                     File                Organization
0  /2005/01/011638771.xml  Insurance Department (NYS)
0  /2005/01/011638759.xml     New York Public Library
0  /2005/01/011638772.xml     Northwestern University
0  /2005/01/011638773.xml               New York Jets
1  /2005/01/011638773.xml        New England Patriots
(106475, 2)

In [118]:
out.to_csv('/Users/hannahburak/Documents/Berkeley/NYT_orgs.csv')